.z-tooltips { z-index: 130; }
.z-hud { z-index: 80; }
.z-profiles { z-index: 75; }

.z-frames-container { z-index: 40; }
  .z-expanded-frame { z-index: 76; }
  .z-selection-box { z-index: 71; }
  .z-frame-resize-handles { z-index: 70; }
  .z-focused-frame { z-index: 63; }
  .z-moving-frame { z-index: 62; }
  .z-moving-frame-shadow { z-index: 61; }
  .z-frame { z-index: 60; }
  .z-frame-shadow { z-index: 50; }
  .z-ghostbox { z-index: 30; }

.z-grid { z-index: 10; }